# compile output, *not* ignored by .npmignore
/lib

# default .npmignore
/node_modules
npm-debug.log

# I'm an IntelliJ duder
/.idea
# But i've played with VSCode
/.vscode

# Tests
/test/fixtures/generated
/test/single
