# compile output, *not* ignored by .npmignore
/lib
/typings

# default .npmignore
/node_modules
npm-debug.log

# I'm an IntelliJ duder
/.idea
# But i've played with VSCode
/.vscode

# Tests
/test/fixtures/generated
/test/generated
/test/single
/test-ast/fixtures/generated
/test-ast/generated
/test-ast/single
/tests/simple/js-generated
/tests/compound/js-generated